 <div class="mb-5 pt-3">
        <h2 class="title pb-4 text-center">Dashboard:</h2>
        <h3 class="title pb-4 text-center">Your Posts</h3><hr>
{{#if articles.length}}
    </div>

    {{#each article as |article|}}
        {{> article-info article}}
        
            <a href="/dashboard/edit/{{article.id}}"><button class="button mb-5 ml-5 secondary">Edit Article</button></a>
        </div>
    {{/each}}

{{else}}
<h6 class="pb-4 text-center">Write Your First Post Below!</h6>

{{/if}}
<a href="/dashboard/create"><button id="create-post" class="btn btn primary">Create Article</button></a>