<article>
    <a href="/dashboard" class="is-pulled-right"> &larr; Return to Dashboard</a>
    <h2 class="title">Create a New Article</h2>

    <form class="new-post">
        <div>
            <label for="article-title">Title:</label>
            <input class= "input" type="text" id="article-title" name="article-title" placeholder="Insert Article Title">
        </div>
        <div>
            <label for="article-description">Description:</label>
            <input class= "input" type="text" id="article-description" name="article-description" placeholder="Insert Article Description">
        </div>
        <div>
            <label for="article-content">Description:</label>
             <input class= "textarea is-large" id="article-content" name="article-content" placeholder="Insert Article Main Body here">
        </div>
        <button type="submit" class="btn btn primary">Update</button>
        <button type="button" class="btn btn danger delete-post">Delete</button>
    </form>
</article>