<div class="column">
    <h2 class="title pb-4">New Account</h2>
    <form class="signup-form">
        <div>
            <label for="signup-username">Username:</label>
            <input type="text" id="signup-username"/>
        </div>
        <div>
            <label for="signup-firstname">First Name:</label>
            <input type="text" id="signup-firstname"/>
        </div>
        <div>
            <label for="signup-lastname">Last Name:</label>
            <input type="text" id="signup-lastname"/>
        </div>
        <div>
            <label for="signup-email">Email:</label>
            <input type="text" id="signup-email"/>
        </div>
        <div>
            <label for="password-signup">Password:</label>
            <input type="password" id="signup-password"/>
        </div>
         <div>
    <button type="submit" class="btn btn primary">Signup</button>
  </div>
    </form>
</div>

<script src="/js/signup.js"></script>